*, /*selector universal */
*::after,
*::before { 
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; face ca margin si paddings sa nu fie adaugate la inaltimea si lungimea totala a chenarului    */
    box-sizing: inherit; /* va mosteni automat orice am bune in box-sizing: border-box; in body */
}


html {
    /* font-size:10px; acum asta este root font size deci 1rem= 10px */
    font-size: 62.5%; /*.625*16=10 */


    @include respond(tab-land) { // width < 1200 ?
        font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) { // width < 900 ? 
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    // @include respond(phone) {
    //     font-size: 40%;
    // }

    @include respond(big-desktop) {
        font-size: 75%;  // 1rem = 12px, 12/16 = 75%
    }
}

body { /*deoarece proprietarile legate ded font sunt de obicei mostenite */
    box-sizing: border-box;
    padding :3rem;

    @include respond(tab-port) { // width < 900 ? 
        padding: 0;
    }
}