.header {
    height: 85vh; /* in orice punct, inaltimea acetei casete a acestui element ar trebui sa fie 85% din inaltimea ferestrei de visualizare */
    background-image: linear-gradient(
       to right bottom, 
       rgba($color-primary-light, 0.8), 
       rgba($color-primary-dark, 0.8)), 
       url(../img/hero-small.jpg);
    background-size: cover; /*indiferent de latimea ferestrei sau a elementului, va incerca intotdeauna sa se potriveasca elementului din interiorul chenarului */
    background-position: top;
    position: relative;


    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        height: 95vh;
    }

    @media(min-resolution: 192dpi) and (min-width: 37.5em),
        (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), //pentru a functiona in safari
        (min-width: 125em)  { 
        // dpi=puncte pe inch
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
            url(../img/hero.jpg);

    }


    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &__logo-box {
        position:absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    /* .logo:hover {
        animation: moveInRight 1s ease-out;
    } */
    
    &__text-box {
        position:absolute;
        top: 40%; /* din elementul parinte */
        left: 50%; /* din elementul parinte */
        transform: translate(-50%, -50%); /*se refera la elementul in sine nu la parinte */
        text-align: center;
    }
}
